:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .card-header {
    flex-shrink: 0;
  }
  
  .grid-container {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
}

.grid-sale-container{
  height: 100%;
  width: 100%;
  // display: flex;
}

angular-slickgrid,
.angular-slickgrid-container {
  height: 100% !important;
  width: 100%;
  display: flex;
}

:host ::ng-deep .slickgrid-container {
  height: 100% !important;
}

@media (max-width: 576px) {
  .filter-label {
    width: 74px;
  }
}

.filter-input {
  width: 170px;
}

.filter-wrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 500ms ease, opacity 500ms ease;
}

.filter-wrapper.open {
  max-height: 600px;
  opacity: 1;
}

:host ::ng-deep .ant-form-item-control-input {
  min-height: auto !important;
}