:host ::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
:host ::ng-deep .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
  background-color: #f39c12 !important;
  color: #2c3e50 !important;
}

:host ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
     color: #2c3e50 !important;
     font-weight: 500;
     font-size: 14px;
}