<div class="card">
  <div class="card-header bg-white p-1">
    <div class="d-flex gap-1">
      <button
        class="btn-add"
        nz-button
        nzType="default"
        nzSize="small"
        (click)="onAddRegister(false)"
      >
        <img src="assets/icon/action_add_item_16.png" /> Thêm
      </button>
      <button
        class="btn-edit"
        nz-button
        nzType="default"
        nzSize="small"
        (click)="onAddRegister(true)"
      >
        <img src="assets/icon/action_edit_item_16.png" /> Sửa
      </button>
      <button
        class="btn-delete"
        nz-button
        nzType="default"
        nzSize="small"
        (click)="onDelete()"
      >
        <img src="assets/icon/action_delete_item_16.png" /> Xóa
      </button>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-register-container">
      <angular-slickgrid
        gridId="registerGrid"
        [columns]="columnRegister"
        [options]="gridOptionsRegister"
        [dataset]="datasetRegister"
        (onAngularGridCreated)="gridReady($event)"
        (onActiveCellChanged)="onActiveCellChanged($event)"
        (selectedRowsChanged)="onSelectedRowsChanged($event)"
        (onDblClick)="onAddRegister(true)"
      >
      </angular-slickgrid>
    </div>
  </div>
</div>
