<div class="card">
    <div class="card-header bg-white p-1">
      <div class="d-flex gap-1">
        <button class="btn-add" nz-button nzType="default" nzSize="small">
          <img src="assets/icon/action_add_item_16.png" /> Thêm
        </button>
        <button class="btn-edit" nz-button nzType="default" nzSize="small">
          <img src="assets/icon/action_edit_item_16.png" /> Sửa
        </button>
        <button class="btn-delete" nz-button nzType="default" nzSize="small">
          <img src="assets/icon/action_delete_item_16.png" /> Xóa
        </button>
      </div>
    </div>
  <div class="grid-customer-container">
    <angular-slickgrid
      gridId="customerGrid"
      [columns]="columnCustomer"
      [options]="gridOptionCustomer"
      [dataset]="datasetCustomer"
      (onAngularGridCreated)="gridCustomerReady($event)"
    >
    </angular-slickgrid>
  </div>
</div>

