<nz-splitter>
  <nz-splitter-panel>
    <div class="card">
      <div class="card-header bg-white p-1">
        <div class="d-flex gap-1">
          <button
            class="btn-add"
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onAddProduct(false)"
          >
            <img src="assets/icon/action_add_item_16.png" /> Thêm
          </button>
          <button
            class="btn-edit"
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onAddProduct(true)"
          >
            <img src="assets/icon/action_edit_item_16.png" /> Sửa
          </button>

          <button
            class="btn-delete"
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onDeleteMultipleProducts()"
          >
            <img src="assets/icon/action_delete_item_16.png" /> Xóa
          </button>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-sparepartgroup-container">
          <angular-slickgrid
            gridId="productsGrid"
            [columns]="columnProducts"
            [options]="gridOptionsProduct"
            [dataset]="datasetProduct"
            (onAngularGridCreated)="gridReady($event)"
            (onActiveCellChanged)="onActiveCellChanged($event)"
            (selectedRowsChanged)="onSelectedRowsChanged($event)"
          >
          </angular-slickgrid>
        </div>
      </div>
    </div>
  </nz-splitter-panel>
  <nz-splitter-panel nzDefaultSize="60%">
    <div class="card">
      <div class="card-header bg-white p-1">
        <div class="d-flex gap-1">
          <button
            class="btn-add"
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onAddSparePart(false)"
          >
            <img src="assets/icon/action_add_item_16.png" /> Thêm
          </button>
          <!-- <button
            class="btn-edit"
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onAddSparePart(true)"
          >
            <img src="assets/icon/action_edit_item_16.png" /> Sửa
          </button> -->

          <button
            class="btn-delete"
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onDeleteMultipleSpareParts()"
          >
            <img src="assets/icon/action_delete_item_16.png" /> Xóa
          </button>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-sparepart-container">
          <angular-slickgrid
            gridId="SparePartGrid"
            [columns]="columnSparePart"
            [options]="gridOptionsSparePart"
            [dataset]="datasetSparePart"
            (onAngularGridCreated)="gridSparePartReady($event)"
          >
          </angular-slickgrid>
        </div>
      </div>
    </div>
  </nz-splitter-panel>
</nz-splitter>
